gluoncv==0.10.5.post0
mxnet==1.9.1
numpy==1.23.5
Pillow==11.1.0
pytorch_lightning==2.1.0
PyYAML==6.0.2
PyYAML==6.0.2
segmentation_models_pytorch==0.3.4
torch==2.5.0
torchmetrics==1.6.1
torchvision==0.20.0
transformers==4.47.1
